<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--开启注解扫描,扫描controller包下的注解-->
    <context:component-scan base-package="com.rui.web" />

    <!--配置视图解析器-->
    <!-- return "forward:/WEB-INF/pages/company/company-list.jsp";-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置上传文件最大尺寸为5MB-->
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>

    <!--异常处理器-->
    <bean class="com.rui.web.exception.MyException"></bean>

    <!--日期处理器-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.rui.web.converter.MyStringToDateConverter"></bean>
            </list>
        </property>
    </bean>

    <!--开启spring注解驱动-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>

    <!--开启对aop的注解支持-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--服务名-->
    <dubbo:application name="export_web_manager"></dubbo:application>
    <!--注册中心-->
    <dubbo:registry address="zookeeper://localhost:2181"></dubbo:registry>
    <!--包扫描-->
    <dubbo:annotation package="com.rui.web"></dubbo:annotation>
    <!--检查 当消费者启动的时候 不校验 @Reference -->
    <!--<dubbo:consumer check="false"></dubbo:consumer>-->
</beans>
